[build]
  publish = "_site"
  command = "bundle install && bundle exec jekyll build"

[build.environment]
  JEKYLL_ENV = "production"
  
[build.processing]
  skip_processing = false

[build.processing.css]
  bundle = true
  minify = true

[build.processing.js]
  bundle = true
  minify = true

[build.processing.html]
  pretty_urls = true

[build.processing.images]
  compress = true