{% assign sections = site.sections | where:"show","true" %}

<nav id="menu" class="navbar navbar-default">
    <!--<div class="navbar-header">-->
    <!--</div>-->
    <div class="collapse navbar-collapse">
        <ul id="navbar" class="nav navbar-nav">
            <!--<li class="active"><a href="#home" class="page-scroll">Home</a></li>-->
            {% for section in sections %}
            <li><a href="#{{ section.id | slugify }}" class="page-scroll">{{section.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>