
<!--jQuery-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js"></script>


<!--jQuery TypeIt-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.typeit/4.3.0/typeit.min.js"></script>
<script type="text/javascript" src="/assets/js/intro.js"></script>

<!--Bootstrap-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--jQuery Nice Scroll-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.nicescroll/3.5.4/jquery.nicescroll.min.js"></script>
<!--jQuery UI-->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js"></script>-->
<!--jQuery Magnific Popup-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.magnific-popup/1.0.0/jquery.magnific-popup.js"></script>


<!-- modernizr -->
<script type="text/javascript" src="js/modernizr.min.js"></script>

<!-- Plugins -->
<script type="text/javascript" src='js/plugins.js'></script>

<!-- custom -->
<script type="text/javascript" src="js/custom.js"></script>


