<!--jQuery-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js"></script>

<!--jQuery TypeIt-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.typeit/4.3.0/typeit.min.js"></script>
<script type="text/javascript" src="/assets/js/intro.js"></script>

<!--jQuery appear-->
<script type="text/javascript" src="assets/js/jquery/jquery.appear.min.js"></script>

<!--Bootstrap-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--jQuery Nice Scroll-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.nicescroll/3.5.4/jquery.nicescroll.min.js"></script>
<!--jQuery Magnific Popup-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.magnific-popup/1.0.0/jquery.magnific-popup.js"></script>
<!--jQuery easy-pie-chart-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>
<!--jQuery Owl carousel-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.owlcarousel/1.31/owl.carousel.min.js"></script>


<!--Isotope-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/isotope/3.0.4/isotope.pkgd.min.js"></script>

<!--modernizr-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js"></script>

<!-- Plugins -->
<script type="text/javascript" src='js/plugins.js'></script>

<!-- custom -->
<script type="text/javascript" src="js/custom.js"></script>


