
<!--jQuery-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<!--Bootstrap-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--jQuery Nice Scroll-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.nicescroll/3.5.4/jquery.nicescroll.min.js"></script>
<!--jQuery UI-->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js"></script>-->
<!--jQuery Magnific Popup-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.magnific-popup/1.0.0/jquery.magnific-popup.js"></script>

<!--jQuery Typed.js-->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.typed.js/1.1.7/typed.min.js"></script>-->
<script type="text/javascript" src="/assets/js/custom-typed.js"></script>
<script type="text/javascript" src="/assets/js/intro-typed.js"></script>

<!-- modernizr -->
<script type="text/javascript" src="js/modernizr.min.js"></script>

<!-- Plugins -->
<script type="text/javascript" src='js/plugins.js'></script>

<!-- custom -->
<script type="text/javascript" src="js/custom.js"></script>
