<ul>
    <li><a href="https://facebook.com/infinityzxx" title="Facebook"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://plus.google.com/+JonathanSenecal" title="Google+"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="https://twitter.com/infinityzxx" title="Twitter"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/in/josenecal/" title="LinkedIn"><i class="fa fa-linkedin"></i> </a></li>
    <li><a href="https://github.com/jsenecal"><i class="fa fa-github" title="GitHub"></i></a></li>
</ul>
