<!--jQuery-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js"></script>
<!--jQuery easy-pie-chart-->
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/jquery.easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>
<!--jQuery placeholder-->
<script src="https://cdn.jsdelivr.net/jquery.placeholder/2.3.1/jquery.placeholder.min.js"></script>
<!--jQuery Nice Scroll-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.nicescroll/3.5.4/jquery.nicescroll.min.js"></script>

<!-- /// Custom JS ////////  -->
<script src="/assets/js/cv/plugins.js"></script>
<script src="/assets/js/cv/scripts.js"></script>

<!--Redirect to https-->
<script>
    // Don't force https when serving the website locally
    if (!(window.location.host.startsWith("localhost")) && (window.location.protocol !== "https:"))
        window.location.protocol = "https";
</script>
