
<!--jQuery-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js"></script>
<!--jQuery easy-pie-chart-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>
<!--jQuery placeholder-->
<script src="https://cdn.jsdelivr.net/jquery.placeholder/2.3.1/jquery.placeholder.min.js"></script>

<!-- /// Custom JS ////////  -->
<script src="/assets/js/cv/plugins.js"></script>
<script src="/assets/js/cv/scripts.js"></script>
