
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    (function (g, o, og, l, e, r) {
        g.GoogleAnalyticsObject = l;
        g[l] || (g[l] =
            function () {
                (g[l].q = g[l].q || []).push(arguments)
            });
        g[l].l = +new Date;
        e = o.createElement(og);
        r = o.getElementsByTagName(og)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-102441718-1', 'auto');
    ga('send', 'pageview');
</script>

<!--Redirect to https-->
<script>
    // Don't force https when serving the website locally
    if (!(window.location.host.startsWith("localhost")) && (window.location.protocol !== "https:"))
        window.location.protocol = "https";
</script>

<script src="/assets/js/cv/scripts.js"></script>
