<div id="footer">

    <!-- /// FOOTER     ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="row">
        <div class="span12">

            <div class="cv-contact">

                <div class="cv-contact-toggle">

                    <a href="#">
                        <i class="fa fa-envelope"></i>
                    </a>

                </div><!-- end .cv-contact-toggle -->

                <div class="cv-section-title">

                    <h2>Contact Form</h2>

                </div><!-- end .cv-section-title -->

                <p>Consectetur adipiscing elit phasellus non nibh a mi placerat imperdiet. </p>

                <form class="fixed" id="contact-form"  name="contact-form" method="post" action="_layout/php/send.php">
                    <fieldset>

                        <div id="formstatus"></div>

                        <input id="name" type="text" name="name" value="" placeholder="name">

                        <input id="email" type="text" name="email" value="" placeholder="address">

                        <input id="subject" type="text" name="subject" value="" placeholder="subject">

                        <textarea id="message" name="message" rows="50" cols="25" placeholder="message"></textarea>

                        <input id="submit" type="submit" name="submit" value="Send!">

                    </fieldset>
                </form>

            </div><!-- end .cv-contact -->

            <h4 class="copyright">&copy; 2014 John Smith. <span class="hidden-phone">All rights reserved.</span></h4>

        </div><!-- end .span12 -->
    </div><!-- end .row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>

<a id="back-to-top" href="#">
    <i class="fa fa-angle-up"></i>
</a>

<a id="print" href="javascript:window.print()" title="Print the CV">
    <i class="fa fa-print"></i>
</a>

<a id="pdf" href="#" title="Download it as a .pdf">
    <i class="fa fa-download"></i>
</a>
