<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="{{site.keywords | join ', '}}"/>
    <meta name="description" content="{{site.description[site.active_lang]}}"/>
    <meta name="author" content="{{ site.data.personal-info.name }} <{{ site.data.personal-info.email }}>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>{{site.title[site.active_lang]}}</title>

    <!--Favicon-->
    <link rel="shortcut icon" href="assets/favicon.ico"/>


    <!-- /// Template CSS ////////  -->
    <link rel="stylesheet" href="assets/css/cv/base.css">
    <link rel="stylesheet" href="assets/css/cv/grid.css">
    <link rel="stylesheet" href="assets/css/cv/elements.css">
    <link rel="stylesheet" href="assets/css/cv/layout.css">

    <!--CSS for JS scripts-->
    <!--jQuery Magnific Popup CSS-->
    <link href="https://cdn.jsdelivr.net/jquery.magnific-popup/1.0.0/magnific-popup.css" rel="stylesheet" type="text/css"/>

    <!--Google Fonts CSS-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
    <!--Font Awesome Icons CSS-->
    <link href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <!--modernizr-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/modernizr/3.3.1/modernizr.min.js"></script>

</head>
