<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="{{site.keywords | join ', '}}"/>
    <meta name="description" content="{{site.description[site.active_lang]}}"/>
    <meta name="author" content="{{ site.data.profile.name }} <{{ site.data.profile.email }}>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>{{site.title[site.active_lang]}}</title>

    <!--Favicon-->
    <link rel="shortcut icon" href="assets/favicon.ico"/>


    <link rel="stylesheet" href="assets/css/cv/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/cv/font.css">
    <link rel="stylesheet" href="assets/css/cv/normalize.css">
    <link rel="stylesheet" href="assets/css/cv/base.css">
    <link rel="stylesheet" href="assets/css/cv/main.css">

    <script src="assets/js/modernizr/modernizr-2.8.3-respond-1.4.2.min.js"></script>

    <link href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

</head>
