<!DOCTYPE html>
<html lang="en" class="no-js">
<!--head-->
{% include cv/head.html %}
<!--/head-->
<body>

<div id="wrap">
    <!--header-->
    <div id="header">
        <div class="row cv-section">
            <div class="span9">
                <div class="cv-section-title">
                    <img src="/assets/images/me.jpg " alt="">
                    <h1>
                        {{site.data.personal-info.name}}
                        <small>Technological problem solver</small>
                    </h1>
                </div><!-- end .cv-section-title -->
            </div><!-- end .span9 -->
            <div class="span3">
                <div class="cv-item">
                    <div class="social-media fixed">
                        <a href="https://facebook.com/infinityzxx" title="Facebook" class="facebook-icon social-icon"><i
                                class="fa fa-facebook"></i>
                        </a>
                        <a href="https://plus.google.com/+JonathanSenecal" title="Google+"
                           class="googleplus-icon social-icon">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="https://twitter.com/infinityzxx" title="Twitter" class="twitter-icon social-icon">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/jonathan-senecal-9058a620/" title="LinkedIn"
                           class="linkedin-icon social-icon">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/jsenecal" class="github-icon social-icon">
                            <i class="fa fa-github" title="GitHub"></i>
                        </a>
                    </div>

                    <p class="last">
                        <span class="hidden-tablet">Email: </span><a
                            href="mailto:{{site.data.personal-info.email}}">{{site.data.personal-info.email}}</a>
                        <br><span class="hidden-tablet">Phone: </span>{{site.data.personal-info.phone}}
                        <br><span class="hidden-tablet">Web: </span><a href="#">www.jonathansenecal.com</a>
                    </p>

                </div><!-- end .cv-item -->

            </div><!-- end .span3 -->
        </div><!-- end .cv-section -->

        <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    </div>
    <!--/header-->

    <div id="content">
        {{ content }}
    </div>
    <!--footer-->
    {% include cv/footer.html %}
    <!--/footer-->
</div>

<!--javascript-->
{% include cv/bottom-scripts.html %}
<!--/javascript-->
</body>
</html>