<!DOCTYPE html>
<html lang="en" class="no-js">
<!--head-->
{% include cv/head.html %}
<!--/head-->
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class="cv-header">
    {% include language_switcher.html %}
</div>
<div id="wrapper">
    {{ content }}
</div>

<!--javascript-->
{% include cv/bottom-scripts.html %}
<!--/javascript-->
</body>
</html>
