<!DOCTYPE html>
<html lang="en">
<!--head-->
{% include head.html %}
<!--/head-->
<body>
<!--loading-->
{% include loading.html %}
<!--/loading-->

<!--header-->
<header id="home" class="header">
    {% include nav.html %}
</header>
<!--/header-->

{{ content }}

<!--language switcher-->
<div class="language-switcher-float">
{% include language_switcher.html %}
</div>
<!--/language switcher-->

<!--javascript-->
{% include scripts.html %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-24XJ47R2EC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-24XJ47R2EC');
</script>
<!--/javascript-->
</body>
</html>
