<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

<!--loading-->
{% include loading.html %}
<!--/loading-->

<!--header-->

<div class="menu-responsive"><a href="#"> <b>Jonathan Senecal</b></a> <a id="menu-icon" class="but" href="#"><span class="ti-menu"></span> </a></div>
<header id="left-header" class="header">
    {% include nav.html %}
    <div class="menu-footer">
    <div class="social">
      <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
      </ul>
    </div>
    <div class="copyright">
      <p>© Jonathan Senecal <br/> all rights reserved</p>
    </div>
  </div>
</header>

<!--=================================
  header -->


<!--=================================
  intro -->

{{ content }}

<!--=================================
 javascript -->

<!-- jquery -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- modernizr -->
<script type="text/javascript" src="js/modernizr.min.js"></script>

<!-- Plugins -->
<script type="text/javascript" src='js/plugins.js'></script>

<!-- map script -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjVoaCW3PAn52C7WPpJ7NBBqU1_TUfnSI" type="text/javascript"></script>
<script type="text/javascript" src="js/map-scripts.js"></script>

<!-- datepicker -->
<script type="text/javascript" src="js/datepicker-script.js"></script>

<!-- style customizer  -->
<script type="text/javascript" src="js/style-customizer.js"></script>

<!-- custom -->
<script type="text/javascript" src="js/custom.js"></script>

</body>
</html>