<!DOCTYPE html>
<html lang="en">
<!--head-->
{% include head.html %}
<!--/head-->
<body>
<!--loading-->
{% include loading.html %}
<!--/loading-->

<!--header-->
<div class="menu-responsive"><a href="#"> <b>{{site.author.name}}</b></a> <a id="menu-icon" class="but" href="#"><span class="ti-menu"></span> </a></div>
<header id="left-header" class="header">
    {% include nav.html %}
    <div class="menu-footer">
        <div class="social">
            {% include social_buttons.html %}
        </div>
        <div class="copyright">
          <p>© {{site.author.name}} <br/> all rights reserved</p>
        </div>
  </div>
</header>
<!--/header-->

{{ content }}

<!--javascript-->
{% include scripts.html %}
<!--/javascript-->
</body>
</html>