---
id: about
class: ["about", "white-bg", "page-section"]
title: About Me
lang: en
show: true
includes_heading: true
---

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="about-image">
            <img class="img-responsive" src="/assets/images/me.jpg" alt="">
        </div>
        <div class="about-social">
            {% include social_buttons.html %}
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="section-title">
            <div class="section-title-name">
                <span>Who I am</span>
                <h2>About Me</h2>
            </div>
            <div class="title-name-gray">
                <strong>About Me</strong>
            </div>
        </div>
        <div class="contact-block">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="my-contact clearfix">
                        <div class="contact-icon">
                            <span class="ti-user"></span>
                        </div>
                        <div class="contact-info">
                            <h4>Name:</h4>
                            <p>{{site.data.profile.name}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="my-contact clearfix">
                        <div class="contact-icon">
                            <span class="ti-email"></span>
                        </div>
                        <div class="contact-info">
                            <h4>Email:</h4>
                            <p>{{site.data.profile.email}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="my-contact clearfix">
                        <div class="contact-icon">
                            <span class="ti-mobile"></span>
                        </div>
                        <div class="contact-info">
                            <h4>Phone:</h4>
                            <p>{{site.data.profile.phone}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="my-contact clearfix">
                        <div class="contact-icon">
                            <span class="ti-calendar"></span>
                        </div>
                        <div class="contact-info">
                            <h4>Age: </h4>
                            <p>{{site.data.profile.birthdate | age_from_birthdate}} years old</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="my-contact clearfix">
                        <div class="contact-icon">
                            <span class="ti-direction-alt"></span>
                        </div>
                        <div class="contact-info">
                            <h4>Address: </h4>
                            <p>{{site.data.profile.address}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="my-contact clearfix">
                        <div class="contact-icon">
                            <span class="ti-flag-alt-2"></span>
                        </div>
                        <div class="contact-info">
                            <h4>Nationality: </h4>
                            <p>{{site.data.profile.nationality}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="about-block clearfix">
                        {%for paragraph in site.data.profile.text%}
                        <p>{{paragraph}}</p>
                        {%endfor%}
                        <!--<img class="pull-right" src="images/signature.png" alt="">-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
