---
id: skills
class: ["skills", "white-bg", "page-section"]
title: Skills
heading: What I'm good at
lang: en
show: true
---

{% for section in site.data.skills %}
{%case section.type %}
{%when "detailed" %}
<div class="detailed-skills row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="skill-content">
            <h2>{{section.title}}</h2>
            <span>“{{section.quote}}"{%if section.quote_author%} <i>- {{section.quote_author}}{%endif%}</i></span>
            <p>{{section.text|join:"<br/><br/>"}}</p>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="skill">
            <ul>
                {%for skill in section.skills%}
                <li>{{skill.name}}
                    <div class="bar_container">
                    <span class="bar" data-bar='{ "color": "#07cb79", "delay": "{{forloop.index|minus:1|times:600}}" }'>
                        <span class="pct">{{skill.pct}}%</span>
                    </span>
                    </div>
                </li>
                {%endfor%}
            </ul>
            <div class="skill-chart">
                <div class="skill-chart-expand clearfix">
                    <div class="expand expand-left">
                        <p>Newbie</p>
                    </div>
                    <div class="expand expand-left">
                        <p>Decent</p>
                    </div>
                    <div class="expand expand-right">
                        <p>Pretty Good</p>
                    </div>
                    <div class="expand expand-right">
                        <p>Master</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%when "piechart" %}
<div class="pie-skills row">
    <div class="col-lg-12 col-md-12">
        <h2>{{section.title}}</h2>
        <p>{{section.text|join:"<br/><br/>"}}</p>
    </div>
</div>
<div class="row">
    {%for skill in section.skills%}
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="chart-bar">
            <div class="chart" id="chart1" data-percent="{{skill.pct}}">
                <span class="percent"></span>
            </div>
            <h3>{{skill.name|join:"<br/>"}}</h3>
        </div>
    </div>
    {%endfor%}
</div>
{%endcase%}
{%endfor%}


    <div class="knowledge">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2>Knowledge</h2>
                <p>Auis nostrud exercitation ullamco laboris nisi ut aliquip exea. commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <ul>
                    <li><span class="ti-hand-point-right"></span> Skills in training techniques.</li>
                    <li><span class="ti-hand-point-right"></span> Social Perceptiveness</li>
                    <li><span class="ti-hand-point-right"></span> Judgment and Decision Making</li>
                    <li><span class="ti-hand-point-right"></span> Active Listening</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <ul>
                    <li><span class="ti-hand-point-right"></span> Personnel and Human Resources</li>
                    <li><span class="ti-hand-point-right"></span> Attention to Detail</li>
                    <li><span class="ti-hand-point-right"></span> Personal Service</li>
                    <li><span class="ti-hand-point-right"></span> Reading Comprehension</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <ul>
                    <li><span class="ti-hand-point-right"></span> Time Management</li>
                    <li><span class="ti-hand-point-right"></span> Learning Strategies</li>
                    <li><span class="ti-hand-point-right"></span> Service Orientation</li>
                    <li><span class="ti-hand-point-right"></span> Active Learning</li>
                </ul>
            </div>
        </div>
    </div>

