---
id: contact
class: ["google-map", "white-bg", "page-section"]
title: Contact
heading: What I did
lang: en
show: true
includes_heading: true
---
<div id="google-map">
            <div id="map-canvas"></div>
        </div>
        <div class="contact">
            <h2>Say Hi It’s Free! </h2>
            <div class="address">
                <ul>
                    <li><span class="ti-location-pin"></span>
                        <p>{{site.data.profile.address}}</p></li>
                    <li><span class="ti-marker-alt"></span>
                        <p><a href="mailto:{{site.data.profile.email}}">{{site.data.profile.email}}</a></p></li>
                    <li><span class="ti-mobile"></span>
                        <p>{{site.data.profile.phone}}</p></li>
                </ul>
            </div>
            <div class="social">
                <h4>I'm also on other platforms!</h4>
                <p>You can follow me on social networks or star me on GitHub to get the latest from me and much more.</p>
                {%include social_buttons.html%}
            </div>
            {%if site.cv_enabled%}<div class="button-large"><a href="/cv">Download/Print my CV</a></div>{%endif%}
        </div>
        <!--<div class="contact-form">-->
            <!--<div id="contact-wrapper">-->
                <!--<div class="contact-content">-->
                    <!--<div id="formmessage">Success/Error Message Goes Here</div>-->
                    <!--<form class="form-horizontal" id="contactform" method="post"-->
                          <!--action="http://themes.potenzaglobalsolutions.com/html/sam-martin/trainer/layout-1/php/contact-form.php">-->
                        <!--<div class="contact-form">-->
                            <!--<h4>Drop me a line</h4>-->
                            <!--<p>Use this form to tell me about your project goals and needs. I will be in touch-->
                                <!--within 24 hours.</p>-->
                            <!--<input id="name" type="text" placeholder="Name*" name="name">-->
                            <!--<input type="email" placeholder="Email*" name="email">-->
                            <!--<input type="text" placeholder="Phone*" name="phone">-->
                            <!--<textarea class="input-message" placeholder="Comment*" rows="7"-->
                                      <!--name="message"></textarea>-->
                            <!--<input type="hidden" name="action" value="sendEmail"/>-->
                            <!--<button id="submit" name="submit" type="submit" value="Send" class="button-small"> Say-->
                                <!--Hello!-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</form>-->
                    <!--<div id="ajaxloader" style="display:none"><img class="center-block"-->
                                                                   <!--src="images/ajax-loader-white.gif" alt=""></div>-->
                <!--</div>-->
                <!--<a href="#" class="contact-toggle"><span class="ti-comments"></span></a>-->
            <!--</div>-->
        <!--</div>-->

<!-- map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEDPnmrPaqwXxmOFC7k6LzJH4xvuv8My8" type="text/javascript" defer='defer'></script>
<script type="text/javascript" src="js/map-script.js" defer='defer'></script>
